@primary-green: #6ee072;
@primary-gray: '';

aside#side_nav{
    width: 200px;
    height: 100%;
    background-color: @primary-green;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    padding-top: 60px;
    z-index: 1;

    nav ul {
    list-style: none;
    padding: 10px;

        li {
        padding: 15px 0;

            a {
                color: rgb(0, 0, 0);
                text-decoration: none;
                font-weight: bold;
                transition: color 0.2s;

                &:hover {
                color: #3498db;
                }
            }

            a:hover{
                color: white;
                transition: 1s;
            }

            a.active {
                padding-left: 20px;
                color:rgb(255, 255, 255);
            }
        }
    }

}

header{
    z-index: 2;
    background-color: @primary-green;
    img{
        // position: absolute;
        width: 40px;
        height: auto;
        transform: translate(20px,0px) rotate(-120deg);
    }
    h1{
        transform: translate(30px);
    }

    .formiguinha{
        position: relative;
        animation: andar 20s infinite;
        transform: translate(5vw,-8vh) rotate(150deg);
    }
}

@keyframes andar {

0%,100%{
    transform: translate(5vw,-8vh) rotate(150deg);
}
25%{
    transform: translate(10vw,10vh) rotate(150deg);
}
30%{
    transform: translate(20vw,10vh) rotate(55deg);
}
50%{
    transform: translate(30vw,-8vh) rotate(55deg);
}
55%{
    transform: translate(50vw,-8vh) rotate(180deg);
}
75%{
    transform: translate(50vw,10vh) rotate(180deg);
}
80%{
    transform: translate(50vw,10vh) rotate(55deg);
}
95%{
    transform: translate(65vw,-8vh) rotate(55deg);
}

}